### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [53]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [54]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [55]:
school_data_complete ["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [56]:
#Calculate the total number of schools
schools_name_list = school_data_complete["school_name"]
number_of_schools=len(schools_name_list.unique())
number_of_schools

15

In [57]:
#Calculate the total number of students
numStudents=school_data_complete["student_name"].count()
numStudents

39170

In [58]:
#Calculate the total budget

total_sum_budgets=school_data["budget"].sum()
total_sum_budgets

24649428

In [59]:
#Calculate the average math score
avg_math_score=round(student_data["math_score"].mean(), 2)
avg_math_score

78.99

In [60]:
#Calculate the average reading score
avg_read_score=round(student_data["reading_score"].mean(), 2)
avg_read_score

81.88

In [61]:
#Calculate the percentage of students with a passing math score (70 or greater)
student_math_scores=student_data[student_data["math_score"] >=70]
number_passing=len(student_math_scores)
total_scores=len(student_data)
percentage=number_passing/total_scores
pass_math=round(percentage*100, 2)
pass_math

74.98

In [62]:
#Calculate the percentage of students with a passing reading score (70 or greater)
student_reading_scores=student_data[student_data["reading_score"] >=70]
number_reading_passing=len(student_reading_scores)
total_scores=len(student_data)
pass_reading =  round(number_reading_passing/total_scores*100, 2)
pass_reading

85.81

In [63]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
student_overal_passing=student_data[(student_data["math_score"] >=70) & (student_data["reading_score"]>=70)]
len(student_overal_passing)/total_scores*100
overall_passing= round(len(student_overal_passing)/total_scores*100, 2)
overall_passing

65.17

In [64]:
#Create a dataframe to hold the above results
result_dataframe=pd.DataFrame([{"Total Number of schools":number_of_schools, "Number of Students":numStudents,"Total Budget":total_sum_budgets, "Average Math Score":avg_math_score, "Average Reading Score":avg_read_score, "Percentage Passing Math":pass_math, "Percentage Passing Reading":pass_reading, "Percentage Overall Passing":overall_passing }])
result_dataframe

,Total Number of schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [65]:
#grouping by school and type
school_level_data = school_data_complete.rename(columns={"school_name":"School","type":"School Type"})
schools = school_level_data.groupby(["School","School Type"])
#to view groupy
schools.count().head(5)

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
School,School Type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [66]:
#counts the number of students in each school
total_students_school = schools["student_name"].count()
total_students_school

School                 School Type
Bailey High School     District       4976
Cabrera High School    Charter        1858
Figueroa High School   District       2949
Ford High School       District       2739
Griffin High School    Charter        1468
Hernandez High School  District       4635
Holden High School     Charter         427
Huang High School      District       2917
Johnson High School    District       4761
Pena High School       Charter         962
Rodriguez High School  District       3999
Shelton High School    Charter        1761
Thomas High School     Charter        1635
Wilson High School     Charter        2283
Wright High School     Charter        1800
Name: student_name, dtype: int64

In [113]:
test_school_type=schools["School Type"].count()
test_school_type

School                 School Type
Bailey High School     District       4976
Cabrera High School    Charter        1858
Figueroa High School   District       2949
Ford High School       District       2739
Griffin High School    Charter        1468
Hernandez High School  District       4635
Holden High School     Charter         427
Huang High School      District       2917
Johnson High School    District       4761
Pena High School       Charter         962
Rodriguez High School  District       3999
Shelton High School    Charter        1761
Thomas High School     Charter        1635
Wilson High School     Charter        2283
Wright High School     Charter        1800
Name: School Type, dtype: int64

In [67]:
#lists budget of first line of each school ( all budgets per school should be same)
total_school_budget = schools["budget"].first()
total_school_budget

School                 School Type
Bailey High School     District       3124928
Cabrera High School    Charter        1081356
Figueroa High School   District       1884411
Ford High School       District       1763916
Griffin High School    Charter         917500
Hernandez High School  District       3022020
Holden High School     Charter         248087
Huang High School      District       1910635
Johnson High School    District       3094650
Pena High School       Charter         585858
Rodriguez High School  District       2547363
Shelton High School    Charter        1056600
Thomas High School     Charter        1043130
Wilson High School     Charter        1319574
Wright High School     Charter        1049400
Name: budget, dtype: int64

In [68]:
#calculating per student budget from previous two cells
per_student_budget = total_school_budget/total_students_school
per_student_budget

School                 School Type
Bailey High School     District       628.0
Cabrera High School    Charter        582.0
Figueroa High School   District       639.0
Ford High School       District       644.0
Griffin High School    Charter        625.0
Hernandez High School  District       652.0
Holden High School     Charter        581.0
Huang High School      District       655.0
Johnson High School    District       650.0
Pena High School       Charter        609.0
Rodriguez High School  District       637.0
Shelton High School    Charter        600.0
Thomas High School     Charter        638.0
Wilson High School     Charter        578.0
Wright High School     Charter        583.0
dtype: float64

In [69]:
#average math and reading score
avg_math_score = round(schools["math_score"].mean(),2)
avg_read_score = round(schools["reading_score"].mean(),2)

In [70]:
#lists the average math score for each school(average of all students in each school)
avg_math= schools["math_score"].mean()
avg_math

School                 School Type
Bailey High School     District       77.048432
Cabrera High School    Charter        83.061895
Figueroa High School   District       76.711767
Ford High School       District       77.102592
Griffin High School    Charter        83.351499
Hernandez High School  District       77.289752
Holden High School     Charter        83.803279
Huang High School      District       76.629414
Johnson High School    District       77.072464
Pena High School       Charter        83.839917
Rodriguez High School  District       76.842711
Shelton High School    Charter        83.359455
Thomas High School     Charter        83.418349
Wilson High School     Charter        83.274201
Wright High School     Charter        83.682222
Name: math_score, dtype: float64

In [71]:
#The % passing Math in two steps 1)obtain a list find of students passing math


passed_math_df = school_data_complete.loc[school_data_complete["math_score"] >= 70]
students_passing_math = passed_math_df.groupby(["school_name","type"])

##2) calculate the percentage of students in the passed math groupby divded by number of students in that school
percent_passing_math = round(students_passing_math["student_name"].count() / total_students_school * 100,2)
percent_passing_math

school_name            type
Bailey High School     District    66.68
Cabrera High School    Charter     94.13
Figueroa High School   District    65.99
Ford High School       District    68.31
Griffin High School    Charter     93.39
Hernandez High School  District    66.75
Holden High School     Charter     92.51
Huang High School      District    65.68
Johnson High School    District    66.06
Pena High School       Charter     94.59
Rodriguez High School  District    66.37
Shelton High School    Charter     93.87
Thomas High School     Charter     93.27
Wilson High School     Charter     93.87
Wright High School     Charter     93.33
Name: student_name, dtype: float64

In [72]:
#same process for the % passing in reading

passed_reading_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading = passed_reading_df.groupby(["school_name","type"])
percent_passing_reading = round(students_passing_reading["student_name"].count() / total_students_school * 100,2)
percent_passing_reading

school_name            type
Bailey High School     District    81.93
Cabrera High School    Charter     97.04
Figueroa High School   District    80.74
Ford High School       District    79.30
Griffin High School    Charter     97.14
Hernandez High School  District    80.86
Holden High School     Charter     96.25
Huang High School      District    81.32
Johnson High School    District    81.22
Pena High School       Charter     95.95
Rodriguez High School  District    80.22
Shelton High School    Charter     95.85
Thomas High School     Charter     97.31
Wilson High School     Charter     96.54
Wright High School     Charter     96.61
Name: student_name, dtype: float64

In [73]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_percent_passed = round((percent_passing_math+percent_passing_reading)/2,2)
overall_percent_passed

school_name            type
Bailey High School     District    74.31
Cabrera High School    Charter     95.58
Figueroa High School   District    73.36
Ford High School       District    73.81
Griffin High School    Charter     95.26
Hernandez High School  District    73.81
Holden High School     Charter     94.38
Huang High School      District    73.50
Johnson High School    District    73.64
Pena High School       Charter     95.27
Rodriguez High School  District    73.30
Shelton High School    Charter     94.86
Thomas High School     Charter     95.29
Wilson High School     Charter     95.21
Wright High School     Charter     94.97
Name: student_name, dtype: float64

In [96]:
#Create a dataframe to hold the above results
summary_df= pd.DataFrame ({
                           "Number of Students":total_students_school,"School Budget":total_school_budget, \
                           "Per Student Budget":per_student_budget, \
                           "Average Math Score":avg_math_score, "Average Reading Score":avg_read_score, \
                           "Percentage Passing Math":percent_passing_math,\
                           "Percentage Passing Reading":percent_passing_reading,\
                           "Percentage Overall Passing":overall_percent_passed })



summary_df

,,Number of Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.81
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,73.81
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.51,96.25,94.38
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.50
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.30
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,94.86
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.21
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.33,96.61,94.97

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [78]:
best_performing_schools_overall = summary_df.sort_values("Percentage Overall Passing",ascending=False).nlargest(5, "Percentage Overall Passing")
best_performing_schools_overall

,,Number of Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.58
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.26
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.21

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [79]:
ninth_grade= school_data_complete[ (school_data_complete["grade"] == "9th")]
ninth_math_scores= ninth_grade.groupby(["school_name"]).mean()["math_score"]

tenth_grade= school_data_complete[ (school_data_complete["grade"] == "10th")]
tenth_math_scores= tenth_grade.groupby(["school_name"]).mean()["math_score"]

eleventh_grade= school_data_complete[ (school_data_complete["grade"] == "11th")]
eleventh_math_scores= eleventh_grade.groupby(["school_name"]).mean()["math_score"]

twelfth_grade= school_data_complete[(school_data_complete["grade"] == "12th")]
twelfth_math_scores= twelfth_grade.groupby(["school_name"]).mean()["math_score"]


math_df= pd.DataFrame({"9th":ninth_math_scores,\
                       "10th":tenth_math_scores,\
                       "11th":eleventh_math_scores,\
                       "12th":twelfth_math_scores})
math_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [80]:
ninth_grade= school_data_complete[ (school_data_complete["grade"] == "9th")]
ninth_reading_scores= ninth_grade.groupby(["school_name"]).mean()["reading_score"]

tenth_grade= school_data_complete[ (school_data_complete["grade"] == "10th")]
tenth_reading_scores= tenth_grade.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade= school_data_complete[ (school_data_complete["grade"] == "11th")]
eleventh_reading_scores= eleventh_grade.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade= school_data_complete[(school_data_complete["grade"] == "12th")]
twelfth_reading_scores= twelfth_grade.groupby(["school_name"]).mean()["reading_score"]


reading_df= pd.DataFrame({"9th":ninth_reading_scores,\
                       "10th":tenth_reading_scores,\
                       "11th":eleventh_reading_scores,\
                       "12th":twelfth_reading_scores})
reading_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending




* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [81]:
#per student spending - bins

bins = [ 0, 599.99, 629.99, 649.99, 700]
ranges = ["<$600", "600-629", "$630-644", ">645"]

spending_summary_df = summary_df.drop(columns=['Number of Students', 'School Budget', 'Per Student Budget'])
spending_summary_df["Spending per Student"]=pd.cut(per_student_budget,bins,labels=ranges, include_lowest=True)


                                          
binned_df= spending_summary_df.groupby(["Spending per Student"]).mean()
binned_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
Spending per Student,,,,,
<$600,83.452500,83.935000,93.460000,96.610000,95.035
600-629,81.900000,83.155000,87.132500,92.717500,89.925
$630-644,78.517500,81.625000,73.485000,84.392500,78.940
>645,76.996667,81.026667,66.163333,81.133333,73.650

## Scores by School Size

* Perform the same operations as above, based on school size.

In [103]:
#school size - bins

size_bins = [ 0, 999, 1000, 1499, 2000]
size_ranges = ["<1000", "1000-1499", "1500-1999", ">2000"]


spending_summary_df["School Size Range"]=pd.cut(total_students_school,size_bins,labels=size_ranges, include_lowest=True)

                                          
size_binned_df= spending_summary_df.groupby(["School Size Range"]).mean()
size_binned_df= size_binned_df.fillna(0)
size_binned_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
School Size Range,,,,,
<1000,83.82,83.925,93.55,96.1000,94.825
1000-1499,0.00,0.000,0.00,0.0000,0.000
1500-1999,83.35,83.820,93.39,97.1400,95.260
>2000,83.38,83.880,93.65,96.7025,95.175

## Scores by School Type

* Perform the same operations as above, based on school type

In [116]:
#issue with column labels for Schools and school types not showing up in summary_df

spending_summary_df["School Type"]=pd.cut(test_school_type,size_bins,labels=size_ranges, include_lowest=True)
school_type = spending_summary_df.groupby(["School Type"]).mean()
school_type

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
School Type,,,,,
<1000,83.82,83.925,93.55,96.1000,94.825
1000-1499,NaN,NaN,NaN,NaN,NaN
1500-1999,83.35,83.820,93.39,97.1400,95.260
>2000,83.38,83.880,93.65,96.7025,95.175

Some trends in the data included
1) School budget did not necessarily impact school performance, some schools with higher budgets performed worse than those with lower budgets (spending per student)
2)Math scores were generally similar within schools no matter the grade level. 
3)Reading scores had simliar scores within each school no matter the grade level.