### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [166]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [167]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [168]:
school_data_complete ["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [169]:
#Calculate the total number of schools
schools_name_list = school_data_complete["school_name"]
number_of_schools=len(schools_name_list.unique())
number_of_schools

15

In [170]:
#Calculate the total number of students
student_name_list = school_data_complete["student_name"]
numStudents=len(student_name_list)
numStudents

school_data_complete["student_name"].count()


#type(school_data_complete["student_name"])

39170

In [171]:
#Calculate the total budget

total_sum_budgets=school_data["budget"].sum()
total_sum_budgets

24649428

In [172]:
#Calculate the average math score
avg_math_score=round(student_data["math_score"].mean(), 2)
avg_math_score

78.99

In [173]:
#Calculate the average reading score
avg_read_score=round(student_data["reading_score"].mean(), 2)
avg_read_score

81.88

In [174]:
#Calculate the percentage of students with a passing math score (70 or greater)
student_math_scores=student_data[student_data["math_score"] >=70]
number_passing=len(student_math_scores)
total_scores=len(student_data)
percentage=number_passing/total_scores
pass_math=round(percentage*100, 2)
pass_math

74.98

In [175]:
#Calculate the percentage of students with a passing reading score (70 or greater)
student_reading_scores=student_data[student_data["reading_score"] >=70]
number_reading_passing=len(student_reading_scores)
total_scores=len(student_data)
pass_reading =  round(number_reading_passing/total_scores*100, 2)
pass_reading

85.81

In [176]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
student_overal_passing=student_data[(student_data["math_score"] >=70) & (student_data["reading_score"]>=70)]
len(student_overal_passing)/total_scores*100
overall_passing= round(len(student_overal_passing)/total_scores*100, 2)
overall_passing

65.17

In [177]:
#Create a dataframe to hold the above results
result_dataframe=pd.DataFrame([{"Total Number of schools":number_of_schools, "Number of Students":numStudents,"Total Budget":total_sum_budgets, "Average Math Score":avg_math_score, "Average Reading Score":avg_read_score, "Percentage Passing Math":pass_math, "Percentage Passing Reading":pass_reading, "Percentage Overall Passing":overall_passing }])
result_dataframe

,Total Number of schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [178]:
#overview of one school
# current_school_data=school_data_complete.loc[school_data_complete["school_name"] == "Bailey High School",:]
# current_school_data

In [179]:
# #pulling out the school name from the single school dataframe
# current_school_name=current_school_data.iloc[0,4]
# current_school_name

In [189]:
#grouping by school and type
school_level_data = school_data_complete.rename(columns={"school_name":"School","type":"School Type"})
schools = school_level_data.groupby(["School","School Type"])

In [201]:
#total student and budget variables
total_students_school = schools["student_name"].count()
total_school_budget = schools["budget"].first()

#per student budget
per_student_budget = total_school_budget/total_students_school

In [203]:
avg_math_score = round(schools["math_score"].mean(),2)
avg_read_score = round(schools["reading_score"].mean(),2)

In [ ]:
#math scores per school
avg_math = schools["math_score"].mean()
avg_math
passed_math_school = avg_math.loc[avg_math_score >= 70]
students_passing_math = passed_math_df.groupby(["school_name","type"])
##students_passing_math.count()
percent_passing_math = round(students_passing_math["student_name"].count() / total_students_school * 100,6)
percent_passing_math

In [191]:
#Create a dataframe to hold the above results
result_dataframe=pd.DataFrame([{"School Name":current_school_name, \
                                "Type of School":type_school,
                                "Number of Students":current_numStudents,"School Budget":current_school_budget, \
                                "Per Student Budget":per_student_budget, 
                                "Average Math Score":avg_math_score, "Average Reading Score":avg_read_score, \
                                "Percentage Passing Math":pass_math, "Percentage Passing Reading":pass_reading,\
                                "Percentage Overall Passing":percent_passing }])


result_dataframe

,School Name,Type of School,Number of Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
0,Bailey High School,District,4976,3124928,628.0,78.99,81.88,74.98,85.81,54.64

In [ ]:
#how to iterate through a dataframe

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type